{% extends 'main/base.html' %}

{% block content %}
    <h1>
        Library
    </h1>
    <img alt="book image" src="https://i.pinimg.com/736x/5e/2e/4c/5e2e4cdcfe1ad36e248cc01dbf3e59c7.jpg" width="300" > 

    {% for book in books %}
        <h3> {{book.name}}</h2>
        <h4>{{book.author.name}}</h4>
        <h4> {{book.year}}</h3>
       
        <p>{{book.description}}</p>
        <button>libi</button>
    {%endfor%}

    {% for genre in movie.genres.all %}
        <span class="badge bg-primary">{{genre.name}}</span>
    {% endfor %}
    
    
{% endblock %}
